.logo-section {
  background-color: #080808;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.logo-mask {
  width: 60%; /* Limit the visible area */
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.carousel-track {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  animation: scrollX 30s linear infinite;
}

.carousel-track img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

/* Sliding Animation */
@keyframes scrollX {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
